<!DOCTYPE html>
<html lang="en" class="login-html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/utilities.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/styles.css">
    <title>Login</title>
</head>

<body>
    <div class="container flex login-container">
        <div class="content login-wrapper">
            <div class="card login-card flex column gap20 c-gray j-space-bt al-center">
                <span class="login-span">Login</span>
                <div class="login-input-wrapper flex column gap10">
                    <label for="" class="label">email</label>
                    <input type="text" class="input" id="email">
                    <label for="" class="label">password</label>
                    <input type="password" class="input" id="password">
                    <button class="btn login-btn" id="login-btn">Login</button>
                    <a class="register-link" href="/ecommerce-frontend/views/register.html">don't have an account? Register</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/ecommerce-frontend/scripts/login.js"></script>
</body>

</html>