<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/utilities.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/styles.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="card login-card flex column gap20">
            <span class="login-span">Login</span>
            <div class="login-input-wrapper flex column gap10">
                <label for="" class="label-title">email</label>
                <input type="text">
                <label for="" class="label-title">password</label>
                <input type="password">
            </div>
        </div>
    </div>
</body>

</html>