<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/utilities.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav class="nav flex column width100">
            <div class="upper-nav flex al-center j-space-bt">
                <div class="nav-left"><img src="/ecommerce-frontend/assets/logo.svg" alt=""></div>
                <div class="nav-middle"></div>
                <div class="nav-right main-nav-links"><i class="fa-solid fa-cart-shopping"></i> Cart</div>
            </div>
        </nav>
        <nav>
            <div class="lower-nav width100 flex">
                <div class="links-wrapper flex width al-center j-space-bt">
                    <a href="" class="nav-links">Products</a>
                    <a href="" class="nav-links">Categories</a>
                    <a href="" class="nav-links">Info</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- products -->
    <div class="container flex">
        <div class="content gap20 product-wrapper">
            <!-- <div class="card column product-card al-center gap10">
                <img id="img" src="/ecommerce-frontend/assets/4974686-200 (1).png" alt="">
                <span id="title" class="product-title">Product Title</span>
                <span id="price" class="products-price">Price</span>
                <div class="flex gap20 al-center">
                    <i class="fa-regular fa-heart main-nav-links"></i>
                    <button id="cart_btn" class="btn">Add to Cart</button>
                </div>
            </div> -->
        </div>
    </div>

</body>

</html>