<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/utilities.css">
    <link rel="stylesheet" href="/ecommerce-frontend/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav class="nav flex column width100">
            <div class="upper-nav flex al-center j-space-bt">
                <div class="nav-left"><img src="/ecommerce-frontend/assets/logo.svg" alt=""></div>
                <div class="nav-middle"></div>
                <div class="nav-right flex center gap20">
                    <span class="admin-span main-nav-links">Admin Panel</span>
                    <span class="logout-span main-nav-links">Logout</span>
                    <i class="fa-solid fa-cart-shopping main-nav-links"><span class="main-nav-links cart-span">Cart</span></i>
                </div>
            </div>
        </nav>
        <nav>
            <div class="lower-nav width100 flex">
                <div class="links-wrapper flex width al-center j-space-bt">
                    <a href="/ecommerce-frontend/views/products.html" class="nav-links">Products</a>
                    <a href="" class="nav-links">Brands</a>
                    <a href="" class="nav-links">Info</a>
                </div>
            </div>
        </nav>
    </header>

    

    <!-- products -->
    <div class="container flex">
        <div class="content gap20 product-wrapper" id="product-wrapper">
            <!-- products -->
        </div>
    </div>
    <script src="/ecommerce-frontend/scripts/products.js"></script>
</body>

</html>