@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    color: #2A2B2A;
}

body {
    margin: 0;
    background-color: #FFFAFA;
}

/* nav */

.cart-span {
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    font-weight: 400;
}

/* login.html */
.login-html {
    background-color: #2A2B2A;
}

.login-container {
    background-color: #2A2B2A;
}

.login-wrapper {
    justify-content: center;
}

.login-card {
    border: solid 3px #D10024;
    border-radius: 8px;
    height: 350px;
    width: 300px;
    padding: 32px;
}

.login-span {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 600;
}

.login-input-wrapper{
    height: 80%;
}

.login-btn{
    margin-top: 20px;
}

.register-link {
    text-align: center;
    text-decoration: none;
    color: #D10024;
}

.register-link:hover {
    scale: 1.1;
}

/* register card */
.register-card {
    border: solid 3px #D10024;
    border-radius: 8px;
    height: 450px;
    width: 300px;
    padding: 32px;
}

/* admin panel */
.panel-card{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #D10024;
    border: none;
}

.div-i:hover {
    scale: 1.5;
}

.form-label, .form-input {
    width: 50%;
}

.form-btn{
    width: 150px;
}

h4{
    color: #D10024;
}

/* products.html */
.product-card {
    height: 300px;
    width: 200px;
    padding: 20px;
}

.product-card:hover {
    border-color: #D10024;
}

#cart_btn {
    cursor: pointer;
}

/* hover-div */
.hover-div {
    height: 235px;
    width: 200px;
    padding: 20px;
    position: relative;
    z-index: 3;
    opacity: 0;
    background-color: #FFFAFA;
    transform: translateY(-344px);
    cursor: pointer;
}

.hover-div:hover {
    opacity: 1;
}

/* cart */

.cart, .wish{
    width: 200px;
    height: 35vw;
    z-index: 9;
    position: absolute;
    top:0;
    right:0;
    transform: translateY(104px);
    padding: 10px;
    color: #2A2B2A;
}

h3 {
    margin-top: 5px;
}
