.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.j-space-bt {
    justify-content: space-between;
}

.gap10 {
    gap: 10px;
}

.gap5 {
    gap: 5px;
}

.gap20 {
    gap: 20px;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.card {
    border: #dadce0 1px solid;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
}

.b-circle {
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
}

.make-icon {
    width: 32px;
    height: 32px;
}

.bold {
    font-weight: bold;
}
