.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.j-space-bt {
    justify-content: space-between;
}

.gap10 {
    gap: 10px;
}

.gap5 {
    gap: 5px;
}

.gap20 {
    gap: 20px;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.card {
    border: #dadce0 1px solid;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
}

.b-circle {
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
}

.make-icon {
    width: 32px;
    height: 32px;
}

.bold {
    font-weight: bold;
}

/* .btn {
    height: 32px;
    width: 96px;
    border: none;
    color: #fff;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.nav {
    border-bottom: #dadce0 1px solid;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 4.5rem;
}

.nav-left {
    padding-left: 20px;
}

.nav-right {
    padding-right: 20px;
}

.nav-links {
    text-decoration: none;
    color: #5f6368;
    font-weight: 500;
}

.nav-links:hover, .nav-links:focus {
    color: #1967d2;
}

.nav-div {
    height: 4.5rem;
}

.nav-div:hover {
    border-bottom: solid 2px #1967d2;
}

.nav-svg {
    cursor: pointer;
}

.container {
    align-self: center;
    height: 100%;
    width: 80%;
    margin-top: 15px;
}

.assignment-option {
    color: #5f6368;
} */
