.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.j-space-bt {
    justify-content: space-between;
}

.j-fend {
    justify-content: flex-end;
}

.al-center {
    align-items: center;
}

.al-fstart{
    align-items: flex-start;
}

.flex-end{
    align-self: flex-end;
}

.gap10 {
    gap: 10px;
}

.gap5 {
    gap: 5px;
}

.gap20 {
    gap: 20px;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.c-white{
    color: #FFFAFA;
}

.c-gray {
    color: #2A2B2A;
}

.c-red {
    color: #D10024;
}

.b-circle {
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
}

.no-wrap{
    flex-wrap: nowrap;
}

.make-icon {
    width: 32px;
    height: 32px;
}

.bold {
    font-weight: bold;
}

.bg-white{
    background-color: #FFFAFA;
}

.bg-red{
    background-color: #D10024;
}

.title-span {
    font-size: 16px;
}

.no-deco {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.upper-nav {
    width: 100%;
    height: 100px;
    background-color: #2A2B2A;
    border-bottom: solid 4px #D10024;
    color: #FFFAFA;
}

.nav-left {
    padding-left: 30px;
}

.nav-right {
    padding-right: 30px;
}

.links-wrapper {
    padding-left: 30px;
}

.main-nav-links:hover {
    color: #D10024;
    cursor: pointer;
}

.lower-nav {
    height: 50px;
    background-color: #FFFAFA;
    border-bottom: solid 2px #D8E2DC;
}

.nav-links {
    text-decoration: none;
    color: #2A2B2A;
}

.nav-links:hover {
    color: #D10024;
    border-bottom: 2px solid #D10024;
}

.links-wrapper {
    width: 20%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    padding: 48px;
}

.card {
    border: #D8E2DC 2px solid;
    background-color: #FFFAFA;
    display: flex;
    padding: 32px;
}

.product-title {
    color: #2A2B2A;
}

.label {
    color: #2A2B2A;
    padding: 5px;
    font-size: 16px;
}

.input {
    outline: none;
    border: 2px solid #D10024;
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 18px;
}

.input:hover {
    border-color: #ff3355;
}

.btn {
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    background-color: #D10024;
    color: #FFFAFA;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover{
   filter: brightness(110%);
}

.textarea{
    outline: none;
    border: 2px solid #D10024;
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 18px;
}

.textarea:hover{
    border-color: #ff3355;
}